html, body, .app {
  min-width: 100vw;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: row;
  background-color: #e2e2e2;
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.friend-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #323232;
  margin: 20px;
  border-radius: 5px;
  /* color: #ee4900; */
  color: white;
}

.form-container, form {
  display: flex;
  flex-direction: column;
}